- name: install nginx
  hosts: all
  become: yes
  vars:
    source_file: index.html
    destination_file: /var/www/html
  tasks:
    - name: install nginx
      apt: name=nginx state=latest

    - name: web service settings
      service: name=nginx state=started enabled=yes
      
    - name: copy index.html
      copy: src={{ source_file }} dest={{ destination_file }}
      notify: restart nginx
  
  handlers:
    - name: restart nginx
      service: name=nginx state=restarted